@charset "utf-8";
/* CSS Document */

/* Header Styles */

header {
	position: relative;
	text-align: center;
}

h1 {
	position: absolute;
	bottom: 50%;
	left: 5%;
	font-size: 7em;
	color: white;
	background-color: rgba(0,0,0,0.65);
	padding: .2em;
}

header > p {
	position: absolute;
	bottom: 45%;
	left: 5%;
	font-size: 2em;
	color: white;
	background-color: rgba(0,0,0,0.65);
	padding: .2em;
}

/* Main Styles */

main {
	display: flex;
	flex-direction: column;
	
}


/* Our Mission */

@keyframes  text-shadow-hover {
	from {text-shadow: none;}
	to {text-shadow: .2em .2em #ff0000;}
}

h2 {
	margin: auto;
	font-size: 3.5em;
	text-align: center;
	padding: .5em;
	color: darkgreen;
	transition: text-shadow .5s;
	transition-timing-function: ease-in-out;
}

h2:hover {
	text-shadow: 0 0 .7em #fff7ad;
	transition: text-shadow .5s;
	transition-timing-function: ease-in-out;
}

p {
	text-align: center;
	margin: auto;
	font-size: 1.5em;
	width: 50%;
}

#contactUs > a{
	font-size: 1.25em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	background-color: green;
	padding: .25em;
	border: none;
	border-radius: .5em;
}

#contactUs {
	margin-top: 1em;
}

#contactUs > a:hover {
	background-color: darkgreen;
}

/* Volunteering */

#volunteer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-items: center;
}

#volunteer > div {
	display: flex;
	justify-content: center;
}

#volunteer > div > div {
	width: 15%;
	margin: 1.5em;
}

#volunteer > div > div > p {
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 1em;
	background-color: green;
	color: white;
	padding: .5em;
	border: none;
	border-radius: .75em;
	
}

#volunteer img {
	max-width: 100%;
}