@charset "utf-8";
/* CSS Document */

/* Body Styles */

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 14px;
}


/* Header and Nav Styles */


#logo {
	width: 4.2vw;
	float: left;
	padding: 0.5em;
}

nav ul{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: .5vw;
}

nav ul li {
	font-size: 1.3em;
	color: darkgreen;
	margin: 1em;
	padding: 0.5em;
	transition: color .5s;
	transition-timing-function: ease-in-out;
}

nav ul li a {
	text-decoration: none;
	color: darkgreen;
	font-size: 2em;
}

a:hover {
	color: rgba(6,32,0,1.00);
}

img {
	max-width: 100%;
}
