@charset "utf-8";
/* CSS Document */

/* Body Styles */

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 14px;
}


/* Header and Nav Styles */


#logo {
	width: 3vw;
}

nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	align-items: center;
	max-width: 100vw;
	padding: .5vw;
}

ul {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

a {
	text-decoration: none;
	color: darkgreen;
	font-size: 2em;
}

a:hover {
	color: rgba(6,32,0,1.00);
}

img {
	max-width: 100%;
}
